<a href="https://colab.research.google.com/github/moira-hws/Intro_to_python/blob/main/basics/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Overview of sets

Like lists and tuples, sets can be used to represent multiple items as one variable.

Sets are assigned using curly brackets.

Unlike lists and tuples, they are unordered, so their items cannot be accessed via indexing.  When viewing a set the items may appear in different places each time.

In [ ]:
my_set = {"red", "orange", "yellow"} # example set

print(my_set) # run this chunk a few times to see how the item order changes

Use the set() constructor to convert other data collection types to sets:

In [ ]:
my_tuple = ("blue", "indigo", "purple")

my_t_set = set(my_tuple)

print(type(my_t_set))

Sets don't permit duplicates, so if your assigned set includes them, they'll be ignored.  Furthermore, 1 and "True" and 0 and "False" are read as equivalent and will each only appear once in the printed set.

In [ ]:
my_set = {"red", "yellow", "orange", "yellow", "red", 1, True, 0, False} # example set with dupes

print(my_set) # run this chunk to see how the program deletes duplicate items

len(my_set) # use the len() function to see how the set is automatically trimmed

## Adding and removing items from sets

Existing set values are immutable, but we can add elements using the following functions:

*   add()
*   update()

In [ ]:
my_set.add("green") # add green directly

my_set.update(my_t_set) # add the items from the tuple-cum-set my_t_set above

print(my_set)

And we can remove specific set items using these:

*   remove()
*   discard()

In [ ]:
my_set.discard(True) # remove True and 1

for i in my_t_set:
  my_set.remove(i) # use a for loop to remove the items from the tuple set from above

print(my_set)

We can also drop random values using pop():

In [ ]:
my_set.pop()

print(my_set)

## Joining sets

There are a few other ways to add items to a set:

*   union() joins multiple sets together
*   the | and & operators
*   intersection() returns a set containing the shared items in two sets
*   difference() returns a set containing the unique items in one set
*   symmetric_difference() returns a set containing elements from both sets that are not present in the other (everything outside of their union)

In [ ]:
my_set.union(my_t_set) # combine the two sets again

my_new_set = {"pink", "chartreuse"} # add a new set to play with

my_set = my_set | my_new_set # add new set to existing

my_set_new_set = my_set.intersection(my_new_set) # identify shared values (should just be the values in the "my_new_set")

my_set_diff = my_set.difference(my_t_set) # identify my_set values that don't appear in my_t_set (should just be the values in "my_t_set")

my_set_symm_diff = my_set.symmetric_difference(my_t_set)

print("Intersection of 'my_set' and 'my_new_set':", my_set_new_set)

print("Difference between 'my_set' and 'my_t_set':", my_set_diff)

print("Symmetric difference between 'my_set' and 'my_t_set':", my_set_symm_diff)